/*
===============
Variables
===============
*/

:root {
  --clr-white: #fff;
  --clr-black: #222;
  /* --ff-primary: "Raleway", sans-serif; */
  /* --ff-secondary: "Open Sans", sans-serif; */
  --transition: all 0.3s linear;
  --max-width: 1100px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--ff-secondary);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*
=============== 
Global Classes
===============
*/
.center {
  max-width: var(--max-width);
  width: 95vw;
  margin: 0 auto;
  height: 100%;
}

.view-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
