.product-list {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 1.5rem;
  row-gap: 2rem;
  /* padding: 1.5rem; */
  margin: 1rem auto;
}

/* Media Queries */
@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /* padding: 1rem; */
  }
}

@media (max-width: 600px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}
